<h3>Plateforme d'achat</h3>

<p>Bienvenu sur la plateforme achat du groupement régional de commande (GRC)</p>
<p>Veuillez-vous inscrire pour bénéficier du service</p>
<p>Une fois votre compte validé, le GRC prendra contact avec vous afin de vérifier votre identité.</p>


<p>
    <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary" %>
</p>