<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Marché et fournisseur associé</h3>
  </div>
  <div class="panel-body">
<%= f.text_field :code, label: "Code du marché" %>
<div class="form-group">
  <%= f.label :entreprise %>
  <%= f.autocomplete_field :fournisseur_nom,  autocomplete_user_fournisseur_users_path, size: 75, class: 'form-control'%>
</div>
<br/>
<%= f.link_to_remove "Supprimer le marché" %>
</div>
</div>