<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Horaires associés</h3>
  </div>
  <div class="panel-body">
<%= f.select :jour, ["Lundi", "Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"], { include_blank: true, label: "Choisir un jour" }, { class: "selectpicker" } %>

<%= f.text_field :debut, label: "Heure de début", default:'8:30' %>
<%= f.text_field :fin, label: "heure de fin" %>
<br/>
<%= f.link_to_remove "Supprimer l'horaire" %>
</div>
</div>