<%= render "shared/bandeau", titre: "Modification", texte: "Mise à jour d'un point de livraison" %>
<div class="container">
  <%= render 'form' %>
 <%= destroy [@etablissement, @point_livraison] %>
</div>