<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Observations</h3>
  </div>
  <div class="panel-body">
  	<%= f.text_field :message %>
<br/>
<%= f.link_to_remove "Supprimer l'observation'" %>
</div>
</div>