<%= render "shared/bandeau", titre: "Fiche de non conformité", texte: "Création d'une nouvelle fiche. Veuillez renseigner les différents champs." %>
<div class="container">
  <%= render 'form' %>
</div>
