<%= render "shared/bandeau_new",
 titre: "Famille de segments",
 texte: "Module d'administration des segments de marché.",
 path: new_famille_segment_path %>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Libellé</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @famille_segments.each do |segment| %>
      <tr>
        <td><%= link_to segment.id, famille_segment_path(segment) %></td>
        <td><%= segment.libelle %></td>
        <td><%= edit_small edit_famille_segment_path(segment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
