<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @famille_segment.libelle %>
</p>

<%= link_to 'Edit', edit_famille_segment_path(@famille_segment) %> |
<%= link_to 'Back', famille_segments_path %>
