/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require rails_bootstrap_forms
 *= require chosen
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

#logo_achatlim {
	height: 150%;
	margin-top: -3px;
}

#signin_remember_me {
	color: #CCCCCC;
}

a.forgot_password_nav:link {
  color: #CCCCCC;
  background-color: transparent;
  text-decoration: underline;
}

a.forgot_password_nav:visited {
  color: #CCCCCC;
  background-color: transparent;
  text-decoration: underline;
}
a.forgot_password_nav:active {
  color: #F19B3C;
  background-color: transparent;
  text-decoration: underline;
}
a.forgot_password_nav:hover {
  color: #F19B3C;
  background-color: transparent;
  text-decoration: underline;
}

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 272px;
    max-height: 272px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}
